/* Big tablet to 1200 px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .course-name {
      height: 6rem;
  }
    .tags ul {
        height: 105px;   /*34*3*/
    }
    .card div:not(:first-child) {
    padding: 5px 8px;
    }
    .card-img {
    height: 150px;
    }
  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }

  .hero-text-box,
  .row {
    padding: 0 4%;
  }
  h1 {
    font-size: 180%;
  }
  .sem-head {
    font-size: 150%;
  }
  .icon {
    font-size: 300%;
  }
}

@media only screen and (max-width: 480px) {
  .icon {
    font-size: 250%;
    margin-left: 5px;
  }
  .course-name {
      height: auto;
  }
.tags ul {
        height: auto;
    }
    .card div:not(:first-child) {
    padding: 2px 8px;
    }
    .card-img {
    height: 100px;
    }
  section {
    padding: 25px 0;
  }

  .home{
    width: 150px;
  }
}
